body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #5d7a5b;
    background-color: #414641;
}

    body.navbar-inverse {
        background-color: #2d5e17;
        border-color: #080808;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.course {
    list-style: none;
}


    .course > li {
        position: relative;
        margin-bottom: 30px;
    }


        .course > li .date {
            text-align: center;
            background-color: #2d5e17;
            color: white;
            width: 60px;
            border-radius: 8px;
        }


        .course > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }
